<h3>My TimeSheet</h3>

<% if current_user.is_my_timesheet?(@user.id) %>
  <figure class="well">
    <% if @active_timer.present? %>
      <%= link_to "Clock Out", user_time_entry_stop_timers_path(@user, @active_timer), method: :put, class: "btn btn-danger" %>
      <figcaption class="figure-caption">Clock In at <%= format_datetime(@active_timer.clock_in) %></figcaption>
    <% else %>
      <%= link_to "Clock In", user_start_timers_path(@user), method: :post, class: "btn btn-success" %>
    <% end %>
  </figure>
<% end %>

<%= link_to 'Add new entry', new_user_time_entry_path(@user), class: "btn btn-primary" %>

<table  class="table">
  <thead>
    <tr>
      <th>Clock In</th>
      <th>Clock Out</th>
      <th>Detail</th>
      <th>Time Spent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_entries.each do |time_entry| %>
      <tr>
        <td><%= format_datetime(time_entry.clock_in) %></td>
        <td><%= format_datetime(time_entry.clock_out) %></td>
        <td><%= time_entry.detail %></td>
        <td><%= format_time(time_entry.time_spent) %></td>
        <td><%= link_to 'Edit', edit_user_time_entry_path(@user, time_entry),class: "btn btn-info" %></td>
        <td><%= link_to 'Delete', user_time_entry_path(@user, time_entry), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<figure class="well">
  <figcaption class="figure-caption">Total Hours (HH:MM:SS)</figcaption>
  <%= format_time(@time_entries.sum(&:time_spent)) %>
</figure>
